header {
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  place-items: center;
  padding: 92px 49px 92px 51px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 5px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  display: flex;
  justify-self: end;
  align-items: center;
}