.address {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  line-height: 135%;
  font-style: normal;
  width: 240px;
}

.address a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.address address {
}